Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-*"]
          roleName: "aws-elasticbeanstalk-ec2-role"
  AWSEBAutoScalingLaunchConfiguration:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-*"]
          roleName: "aws-elasticbeanstalk-ec2-role"
  ApplicationEnvironment:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-*"]
          roleName: "aws-elasticbeanstalk-ec2-role"

option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: 8080
    NODE_ENV: production
  aws:elasticbeanstalk:environment:process:default:
    MatcherHTTPCode: 200
    HealthCheckInterval: 30
    HealthCheckTimeout: 15
    HealthCheckPath: /

